Body{
    font-family: Calibri, Helvetica, sans-serif;
    background-colour : pink;
}
button {
    background-color: #4CAF50;
    width: auto;
    color: orange;
    padding: 10px;
    margin: 10px 10px;
    border: none;
    cursor: pointer;
    position; relative;

}
form{border: 3px solid #f1f1f1;
width: 50%;
margin: 8px 0;
padding: 12px 20px;
display: ; inline-block
border: 2px solid green;
npx_sizing:border-box;
position: relative;
}
input[typed_=text], input[type=password]{
    width: 50%;
    margin: 8px 0;
    display: infine-block;
    position:relative;

}
input[type=radio]{
    display: infinite-block;
}
button:hover{
    opacity:0.7;
}
break.point::after{
    content: "hiddentext";
    font-size: 0;
    display: block;
    line height: 0;
}
h1{

    text-align: center;
    
}